*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	margin: 0 auto;
	width: 95%;
	margin-bottom: 12rem;
}

a {
	color: #000000;
	text-decoration: none;
	border-bottom: 2px solid var(--lightAccent);
}

header {
	background-color: var(--mainBrand);
	height: 4rem;
	padding: 1rem 2.5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	margin-bottom: 3rem;
}

header h3 {
	margin: 0;
}

header nav a {
	color: white;
	text-decoration: none;
}

header nav a + a {
	margin-left: 1rem;
}
